@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(Montserrat-Light.ttf) format('woff');
}

body {
  background: #222522;
  color: white;
  font-family: Myfont;
}

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MetaMaskGif {
  width: 100px;
  height: 100px;
  background-color: #222522;
}

.cursorP {
  cursor: pointer;
}

.small-text {
  font-size: 9px;
}

.balance-font {
  font-size: 20px;
  font-weight: 900;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Campaign-List {
  min-width: 100%;
  min-height: 100%;
  background-color: #2b2e2b;
}

.navbar-nav {
  margin-left: auto;
}

.description-icon {
  font-size: 20px;
  padding: 4px;
  cursor: pointer;
}

.ethscan {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.goRight {
  margin-left: 20px;
}


.navbar-custom {
  background-color: #2b2e2b;
}

.success-badge {
  font-size: 15px;
}

.navbar-badge {
  font-size: 17px;

}

.Campaign-List-Inner {
  height: 600px;
}

.Campaign-List-Row {
  border-bottom: 1px inset black;
  cursor: pointer;
  text-align: center;
}

.Campaign-List-Row :hover {
  color: rgb(205, 223, 223);
}

.Campaign-List-Header {
  text-align: center;
}

.Campaign-List .row:hover>* {
  background-color: black;
  padding: 2px;
}

.Campaign-List .row>* {
  padding: 5px;
}

.Campaign-Viewer {
  background-color: #2b2e2b;
  padding-bottom: 80px;
}

.emptySpace {
  height: 50px;
  background-color: #222522;
}

.proposal-row {
  background-color: #3f423f;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}


.loader {
  width: 30px;
  height: 30px;
  border: 3px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}